[submodule "Amoeba/vendor/spdlog"]
	path = Amoeba/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Amoeba/vendor/GLFW"]
	path = Amoeba/vendor/GLFW
	url = https://github.com/Alan-mag/glfw.git
