[submodule "Amoeba/vendor/spdlog"]
	path = Amoeba/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Amoeba/vendor/GLFW"]
	path = Amoeba/vendor/GLFW
	url = https://github.com/Alan-mag/glfw.git
[submodule "Amoeba/vendor/imgui"]
	path = Amoeba/vendor/imgui
	url = https://github.com/Alan-mag/imgui.git
[submodule "Amoeba/vendor/glm"]
	path = Amoeba/vendor/glm
	url = https://github.com/g-truc/glm
